@page "/ShoppingCartUI"
@using BackEnd
@using System.Text.Json
@using Web.Services
@using Web.Services
@inject NavigationManager Nav
@inject UserStorageInfo UserStorageInfo
@inject LocalStorageManager Storage

@rendermode InteractiveServer
@inject UserStorageInfo UserStorageInfo
@* @rendermode InteractiveServer *@



<PageTitle>Shopping Home Page</PageTitle>

<h1>Welcome to your shopping cart</h1>

<button @onclick="GoToUserSettingsPage" style="position: absolute; left:1400px; top:70px">Profile Settings</button>

@if (currentUser == null)
{
    <p>please login</p>
}
else
{
    @if (currentUser.GetShoppingCart().Count == 0)
    {
        <p>Your shopping cart is empty.</p>
        <button class="btn btn-outline-dark" @onclick="GoToHomePage">Go to Home Page</button>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in products)
                {
                    <tr>
                        <td>@item.Key.Name</td>
                        <td>@item.Key.Price.ToString("C")</td>
                        <td>
                            <button class ="btn btn-lg btn-outline-secondary" @onclick="() => SubtractQuantity(item.Key)">-</button>
                            @item.Value
                            <button class ="btn btn-lg btn-outline-secondary" @onclick="() => AddQuantity(item.Key)">+</button>
                        </td>
                        <td>@((item.Key.Price * item.Value).ToString("C"))</td>
                        <td><button class="bi bi-trash btn btn-outline-danger" @onclick="() => RemoveItem(item.Key)"></button></td>
                    </tr>
                }
            </tbody>
        </table>
        <p><strong>Total: @products.Sum(x => x.Key.Price * x.Value).ToString("C")</strong></p>
        var subtotal = products.Sum(x => x.Key.Price * x.Value);
        <p><strong>Total (with 7% tax): @( (subtotal * 1.07m).ToString("C") )</strong></p>

        <button @onclick="GoToCheckoutPage">Go to Checkout</button>
    }
}


@code {

    ProductCollection productCollection = new();
    User currentUser;
    Dictionary<Product, uint> products = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string userID = await Storage.GetUserId();
            try
            {
                currentUser = UserCollection.GetByID(userID);
                products = currentUser.GetShoppingCart().ToDictionary(x => productCollection.GetById(x.Key), x => x.Value);
                @* products = currentUser.GetShoppingCart().Select(x => productCollection.GetById(x.Key)).ToList(); *@
            }
            catch
            {
                currentUser = null;
            }
            StateHasChanged();
        }
    }
    void GoToUserSettingsPage()
    {
        Nav.NavigateTo("/UserSettingsUI");
    }

    void GoToHomePage()
    {
        Nav.NavigateTo("/");
    }

    void GoToCheckoutPage()
    {
        Nav.NavigateTo("/CheckoutUI");
    }

    void RemoveItem(Product product)
    {
        currentUser.DeleteCartItem(product.Id);
        StateHasChanged();
    }

    void AddQuantity(Product item)
    {
        products[item]++;
    }
    void SubtractQuantity(Product item)
    {
        if (products[item] > 1) products[item]--;
        else RemoveItem(item);
    }
}