@page "/UserSettingsUI"
@using BackEnd
@using Web.Services
@using System.Diagnostics
@using BackEnd
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject UserStorageInfo UserStorageInfo

<PageTitle>User Settings</PageTitle>

<h1>User Settings</h1>

@*Probably make each settings page unique according to their assigned guid.*@
@*Should probably make a List of some sort that stores all of our users.*@

<button style="width: fit-content; top: 75px; right: 25px" class="position-absolute btn btn-outline-dark" @onclick="() => {showPopup = true;}">Options</button>

@if (showPopup)
{
    <div class="position-absolute border border-dark rounded p-2 bg-light d-flex flex-column" style="right: 20px; top: 70px; z-index: 1000;">
        <button class="btn btn-outline-dark m-1" @onclick="EditUserName">Edit User Name</button>
        <button class="btn btn-outline-dark m-1" @onclick="EditPassword">Edit Password</button>
        <button class="btn btn-outline-dark m-1" @onclick="EditEmail">Edit Email</button>
        <button class="btn btn-outline-dark m-1" @onclick="EditAddress">Edit Address</button>
        <button class="btn btn-outline-dark m-1" @onclick="DeleteAccount">Delete Account</button>
        <hr class="m-2"/>
        <button class="btn btn-outline-dark m-1" @onclick="() => showPopup = false">Close</button>
    </div>
}

<div class="mb-4">
    <div>
        <strong>User Name:</strong> @user.Username
    </div>
    <div>
        <strong>Email:</strong> @user.Email
    </div>
    <div>
        <strong>Address:</strong> @user.Address
    </div>
</div>

<hr/>

<h3>All Registered Users (from UserStorageInfo)</h3>

@if (UserStorageInfo.UserList.Count == 0)
{
    <p>No users registered in storage info.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in UserStorageInfo.UserList)
            {
                <tr>
                    <td>@u.Username</td>
                    <td>@u.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    User user = new User()
    {
        Id = Guid.NewGuid(),
        Username = "Johnny Boy",
        Email = "FakeEmail@example.com",
        Address = "Fake Address",
        @* ActiveAccount = true *@
    };

    bool showPopup = false;

    void EditUserName()
    {
        user.Username = "New User Name";
        showPopup = false;
    }

    void EditPassword()
    {
        showPopup = false;
    }

    void EditEmail()
    {
        user.Email = "New Email";
        showPopup = false;
    }

    void EditAddress()
    {
        user.Address = "New Address";
        showPopup = false;
    }

    void DeleteAccount()
    {
        Console.WriteLine("Do you really want to delete your account? You can recover it later");
        Console.Write("Yes or No: ");

        // This is a console read in a web app, probably just for testing/debugging logic.
        // It won't work in a browser as expected.
        showPopup = false;
    }
}